:root{
    --p1: #ddf3d8;
    --p2: #bde4b7;
    --p3: #a7d595;
    --p4: #7fc674;
    --p5: #52b76e;
    --p6: #40916C;
    --p7: #2D6A4F;
    --p8: #1B4332;
    --p9: #081C15;

    --apple: #d62a2a;
    --snakebody: #659c49;

    --button: #094612;
}